* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active {
  color: yellow;
}

a {
  text-decoration: none !important;
}

.contact-item {
  display: flex;
}

.contact-item i {
  margin-right: 10px;
}